[submodule "PEzor"]
	path = PEzor
	url = https://github.com/phra/PEzor
[submodule "wclang"]
	path = wclang
	url = https://github.com/tpoechtrager/wclang
[submodule "donut"]
	path = donut
	url = https://github.com/TheWover/donut
[submodule "TDOA_RCE"]
	path = TDOA_RCE
	url = https://github.com/xinyu2428/TDOA_RCE
[submodule "Sunflower_get_Password"]
	path = Sunflower_get_Password
	url = https://github.com/wafinfo/Sunflower_get_Password
[submodule "SigThief"]
	path = SigThief
	url = https://github.com/secretsquirrel/SigThief
[submodule "iox"]
	path = iox
	url = https://github.com/EddieIvan01/iox
[submodule "udptunnel"]
	path = udptunnel
	url = https://github.com/jingyu/udptunnel
[submodule "pingtunnel"]
	path = pingtunnel
	url = https://github.com/esrrhs/pingtunnel
[submodule "dnscat2"]
	path = dnscat2
	url = https://github.com/iagox86/dnscat2
[submodule "WinPwn"]
	path = WinPwn
	url = https://github.com/S3cur3Th1sSh1t/WinPwn
[submodule "phpggc"]
	path = phpggc
	url = https://github.com/ambionics/phpggc
[submodule "CDK"]
	path = CDK
	url = https://github.com/cdk-team/CDK
